// Colores
$colorPrim: #20281F;
$colorSec: #4A4A4A;
$colorNegro: #000;
$colorBlanco: #fff;
$colorGrisOscuro: #d5d5d5;
$colorGris: #f5f5f5;
$colorFondoOscuro: #ececec;

//Font Size
$xlarge: 32px;
$large: 24px;
$medium: 18px;
$regular: 14px;
$small: 12px;
